# Flutter
front_end/.dart_tool/
front_end/.flutter-plugins
front_end/.flutter-plugins-dependencies
front_end/build/
front_end/.pub-cache/
front_end/.packages
front_end/pubspec.lock

# Android
**/android/.gradle
**/android/local.properties
**/android/app/build
**/android/.idea

# Python / FastAPI
Midwife back end/venv/
Midwife back end/__pycache__/
*.pyc
.env
.DS_Store

# IDE
.vscode/
.idea/
*.iml

*.docx
final_diagrams.zip
mobile_app_test_cases.md
